{% extends 'job/base.html' %}

{% block content %}
    <div class="hero is-halfheight">
        <div class="hero-body is-justify-content-center is-align-items-center">
            <div class="columns is-flex is-flex-direction-column box has-background-white-ter">

                <div class="has-text-centered">
                    <p class="is-size-4">
                        Sign Up
                    </p>
                </div>

                <form method="POST" action=".">
                    {% csrf_token %}

                    <div class="column">
                        <label>Username</label>
                        <input class="input is-dark has-background-white-ter" type="text"  name="username"placeholder="Username">
                    </div>

                    <div class="column">
                        <label>Email</label>
                        <input class="input is-dark has-background-white-ter" type="email"  name="email" placeholder="Email address">
                    </div>

                    <div class="column">
                        <label>Password</label>
                        <input class="input is-dark has-background-white-ter" type="password" name="password1" placeholder="Enter Password">
                    </div>

                    <div class="column">
                        <label>Repeat Password</label>
                        <input class="input is-dark has-background-white-ter" type="password" name="password2" placeholder="Repeat Password">
                    </div>

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="column is-size-7 has-text-danger">
                                    <p>{{ error|escape }}</p>
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {% for error in form.non_field_errors %}
                            <div class="column is-size-7 has-text-danger">
                                <p>{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="column">
                        <button class="button is-primary is-fullwidth" type="submit">Create an account</button>
                    </div>

                </form>    

                <div class="has-text-centered">
                    <p class="is-size-7"> 
                        Already have an account?  
                        <a href="{% url 'login' %}" class="has-text-primary">Login</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}